<!DOCTYPE html>
<html lang="en">
<body>
    <footer>
        <p>Author: Ankush Agrawal<br>
        <a href="mailto:ankush.agrawal11@gmail.com">ankush.agrawal11@gmail.com</a></p>
    </footer>
</body>
</html>