<h1>Sign Up Page</h1>

<form action="/users/create" method="post">
    <input type="text" name="name" id="name" placeholder="Your Name" required>
    <br>
    <input type="email" name="email" id="email" placeholder="Your Email" required>
    <br>
    <input type="password" name="password" id="password" placeholder="Password" required>
    <br>
    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required>
    <br><br>
    <input type="submit" value="SignUp">
    <br>
</form>