<h1>Sign In Page</h1>

<form action="users/create-session" method="post">
    <input type="email" name="email" id="email" placeholder="Your Email" required>
    <br>
    <input type="password" name="password" id="password" placeholder="Password" required>
    <br>
    <input type="submit" value="SignIn">
    <br>
</form>