html{
    height:100%;
    
    body{
        height: 100%;
        margin: 0px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        #layout-main{
            position: relative;
            display: flex;
            flex-direction: column;
            height: 100%;
        }   
        background-color: whitesmoke;
    }  
}

