html{
    height:100%;
    
    body{
        height: 100%;
        margin: 0px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        #layout-main{
            min-height: 100%;
            padding-top:40px;
            padding-left: 10px;
        }   
        background-color: whitesmoke;
    }  
}

