html {
  height: 100%;
}

html body {
  height: 100%;
  margin: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: whitesmoke;
}

html body #layout-main {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
